project:
  type: website
  output-dir: docs

website:
  title: "JACK Arena"
  navbar:
    left:
      - href: index.qmd
        text: Team JACK


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
